[Unit]
Description=PulseAudio system server

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=pulseaudio --daemonize=no --system --realtime --disallow-exit --log-target=journal
