body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF
}

.admin-section {
  padding: 10px;
  background: rgba(255, 177, 235, 0.5);
  border-radius: 12px;
  margin: 10px auto;
}