[Unit]
Description=FLG Serenity Flame Controller Webserver
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/flaming/Serenity/flames/flames_webserver.py
WorkingDirectory=/home/flg/serenity/flames
Restart=always
User=flaming

[Install]
WantedBy=multi-user.target
