[Unit]
Description=Flaming Lotus Girls 2019 Serenity SoundScape Server
Requires=pulseaudio.service
After=pulseaudio.service


[Service]
Type=simple
User=flaming
WorkingDirectory=/home/flaming/sound/SerenityAudio
ExecStart=/home/flaming/sound/SerenityAudio/saplay
Restart=always
RestartSec=12

[Install]
WantedBy=multi-user.target
