[Unit]
Description=Launches Fade Candy OPC server. For Serenity
After=network.target

[Service]
ExecStart=/home/flaming/Serenity/jars/leds/start_fc_server.sh
WorkingDirectory=/home/flaming/Serenity/jars/leds
Restart=Always

[Install]
WantedBy=multi-user.target
